<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
    <Console name="Console">
        <PatternLayout pattern="%level{WARN=W, DEBUG=D, ERROR=E, TRACE=T, INFO=I} %d{HH:mm:ss.SSS} [%t] %logger{1} - %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <Logger name="com.crashbox" level="trace" additivity="true"/>
    <Logger name="com.crashbox.vassal.util.StairBuilder" level="info" additivity="true"/>
    <Logger name="com.crashbox.vassal.chest.TileEntityBeaconChest" level="info" additivity="true"/>
    <Logger name="com.crashbox.vassal.forester.TileEntityBeaconForester" level="info" additivity="true"/>
    <Logger name="com.crashbox.vassal.quarry.TileEntityBeaconQuarry" level="debug" additivity="true"/>
    <Logger name="com.crashbox.vassal.furnace.TileEntityBeaconFurnace" level="info" additivity="true"/>
    <Logger name="com.crashbox.vassal.task.TaskPair" level="info" additivity="true"/>
    <Logger name="com.crashbox.vassal.task.TaskMakeBigStair" level="info" additivity="true"/>
    <Root level="warn">
        <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>
