<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout
                    pattern="%level{WARN=W, DEBUG=D, ERROR=E, TRACE=T, INFO=I} %d{HH:mm:ss.SSS} [%t] %logger{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger level="trace" additivity="true" name="com.crashbox"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.ai.EntityAIWorkDroid"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.chest.TileEntityAutoChest"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.forester.TileEntityAutoForester"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.furnace.TileEntityAutoFurnace"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.quarry.TileEntityAutoQuarry"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.task"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.task.TaskPair"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.task.TaskMakeBigStair"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.util.StairBuilder"/>
        <Logger level="info"  additivity="true" name="com.crashbox.malab.workbench.TileEntityAutoWorkbench"/>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
